version: "3.9"

services:
  db:
    image: mysql:8.4
    container_name: nodelith-database
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: database
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - ./.volumes/mysql:/var/lib/mysql